<launch>

  <include file="$(find robomuse5_navigation)/launch/bringup.launch"/>


  <!--master auto="start"/-->

  <!-- Run the map server -->
  <!--node name="map_server" pkg="map_server" type="map_server" args="$(find robomuse5_navigation)/my_map.pgm my_map_resolution"/-->
<!--node name="map_server" pkg="map_server" type="map_server" args="$(find robomuse5_navigation)/maps/mymap.pgm"/-->

  <!--- Run AMCL -->
  <!-- <include file="$(find robomuse5_navigation)/launch/amcl.launch"/> -->
  
  <!--Hector SLAM-->
  <!-- <include file="$(find hector_slam_launch)/launch/tutorial.launch"/> -->

  <!-- GMapping -->
  <node pkg="gmapping" type="slam_gmapping" name="map_builder" output="screen">
    
    <!-- use value of "map" for only LIDAR Map testing without robot 
         use value of "base_link" for only LIDAR Map testing without robot  -->
    <param name="base_frame" value="base_link" />
    <!-- change the listening from /scan to /mybot/laser/scan -->
    <remap from="/scan" to="/mybot/laser/scan"/>
  </node>
  <node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find hector_slam_launch)/rviz_cfg/mapping_demo.rviz"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

  <node pkg="tf" type="static_transform_publisher" name="map_baselink_broadcaster" args="0 0 0 0 0 0 odom base_link 100"/>

  <!-- <node pkg="tf" type="static_transform_publisher" name="map_lidar_broadcaster" args="0 0 0 0 0 0 map lidar 100"/>

  <node pkg="tf" type="static_transform_publisher" name="map_rplidar_broadcaster" args="0 0 0 0 0 0 map rplidar 100"/> -->




  <param name="robot_description" command="$(find xacro)/xacro.py --inorder '$(find mybot_description)/urdf/mybot.xacro'"/>

  <!-- <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen"> -->
  	<!--remap from="cmd_vel" to="cmd_diff_vel"/-->
    <!-- <rosparam file="$(find robomuse5_navigation)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robomuse5_navigation)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find robomuse5_navigation)/params/local_costmap.yaml" command="load" />
    <rosparam file="$(find robomuse5_navigation)/params/global_costmap.yaml" command="load" />
    <rosparam file="$(find robomuse5_navigation)/params/base_local_planner.yaml" command="load" />
    <rosparam file="$(find turtlebot_navigation)/param/global_planner_params.yaml" command="load" />
    <rosparam file="$(find turtlebot_navigation)/param/navfn_global_planner_params.yaml" command="load" />
  </node> -->

</launch>