<?xml version="1.0"?>
<robot>

  <property name="M_PI" value="3.1415926535897931" />
  <property name="VELOCITY_LIMIT_SCALE" value="0.6" />

  <!-- Kinect Camera Location (Nominally 0) -->
  <property name="cal_kinect_x" value="0.0" />
  <property name="cal_kinect_y" value="0.0" />
  <property name="cal_kinect_z" value="0.0" />
  <property name="cal_kinect_roll" value="0.0" />
  <property name="cal_kinect_pitch" value="0.0" />
  <property name="cal_kinect_yaw" value="0.0" />

</robot>
